<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context-4.2.xsd">
	
    <context:property-placeholder location="classpath:jdbc-dev.properties"/>
    
    <import resource="applicationContext-jdbc.xml" />
    
    <!--<bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>  
      -->
    	<!-- <context:annotation-config /> -->
	<!-- component-scan自动搜索@Component , @Controller , @Service , @Repository等标注的类 --> 
	<!-- 
		<context:component-scan base-package="org.jeedevframework.web.*"/>
	 -->
	 
	<context:component-scan base-package="org.jeedevframework" >
  		<context:include-filter type="regex" expression=".core.common.*"/>
  		<context:include-filter type="regex" expression=".web.*"/>
  		
  		<context:include-filter type="regex" expression=".app.*"/>
	</context:component-scan>
	
<!-- 	<context:component-scan base-package="org.jeedevframework" use-default-filters="false">
		<context:include-filter type="regex" expression="org.jeedevframework.mapper.*"/>
		<context:include-filter type="regex" expression="org.jeedevframework.service.*"/>
		<context:include-filter type="regex" expression="org.jeedevframework.app.mapper.*"/>
		<context:include-filter type="regex" expression="org.jeedevframework.app.service.*"/>
	</context:component-scan> -->

</beans>