<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.jeedevframework.app.mapper.AppMapper" >
  <resultMap id="BaseResultMap" type="App" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="is_delete" property="isDelete" jdbcType="BIT" />
    <result column="re_order" property="reOrder" jdbcType="INTEGER" />
    <result column="update_date" property="updateDate" jdbcType="VARCHAR" />
    <result column="app_code" property="appCode" jdbcType="VARCHAR" />
    <result column="app_name" property="appName" jdbcType="VARCHAR" />
  </resultMap>
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from app
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="App" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into app (create_date, is_delete, re_order, 
      update_date, app_code, app_name
      )
    values (#{createDate,jdbcType=TIMESTAMP}, #{isDelete,jdbcType=BIT}, #{reOrder,jdbcType=INTEGER}, 
      #{updateDate,jdbcType=VARCHAR}, #{appCode,jdbcType=VARCHAR}, #{appName,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="App" >
    update app
    set create_date = #{createDate,jdbcType=TIMESTAMP},
      is_delete = #{isDelete,jdbcType=BIT},
      re_order = #{reOrder,jdbcType=INTEGER},
      update_date = #{updateDate,jdbcType=VARCHAR},
      app_code = #{appCode,jdbcType=VARCHAR},
      app_name = #{appName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, create_date, is_delete, re_order, update_date, app_code, app_name
    from app
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, create_date, is_delete, re_order, update_date, app_code, app_name
    from app
  </select>
  
   <resultMap id="PageBeanResult" type="App" extends="BaseResultMap">
  </resultMap>
  
   <select id="selectPageCount" resultType="java.lang.Integer" parameterType="pageBean" >
    select count(id) from app 
    where 1=1
    <include refid="conditionSql"/>
  </select> 
  
  <select id="selectPageListByCondition" resultMap="BaseResultMap" parameterType="pageBean" >
    select id, create_date, is_delete, re_order, update_date, app_code, app_name from app 
    where 1=1
    <include refid="conditionSql"/>
    <include refid="sortSql"/>
     limit ${page},${rows}
  </select>
 
   <sql id="sortSql">
		<if test="querySorts != null">
			<foreach item="sort" collection="querySorts" separator="," open=" order by ">    
		    ${sort.column} ${sort.order}   
		    </foreach>
		</if>
  </sql>
   
  <sql id="conditionSql">
    <if test="queryParameter != null">
    	<if test="queryParameter.appCode != null and queryParameter.appCode != ''">
    		and app_code = #{queryParameter.appCode,jdbcType=VARCHAR} 
    	</if>
    	<if test="queryParameter.appName != null and queryParameter.appName != ''">
    		and app_name like "%${queryParameter.appName}%"  
    	</if>
    </if>
  </sql> 
</mapper>