<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<typeAlias alias="pageBean" type="org.jeedevframework.core.common.entity.PageBean" />
		<typeAlias alias="App" type="org.jeedevframework.app.entity.App" />
	</typeAliases>

</configuration>